

<div class="jumbotron">
  <h1 class="display-4"><%= link_to 'ROR Blog' , articles_path %> | <%= link_to 'About', about_path %></h1>
  <p class="lead">Welcome to ROR Blog</p>
  <hr class="my-4">
  <p>This is Home page of my RoR blog app.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>

  </p>
</div>